.header {
    /* Fix header in the top of the page */
    position: sticky;
    z-index: 1000;
    inset-block-start: 0;
    /* Smooth color transition for the site header bottom */
    padding-block: 10px 25px;
    background: linear-gradient(0deg, transparent, var(--background) 20%);
}
/* Logo max allowed size */
.logo__image {
    max-width: 150px;
    max-height: 150px;
}
/* Navigation base styles */
.navigation {
    font-family: 'Inter';
    font-size: 2rem;
    line-height: 1.1em;
    background: var(--primary-color);
}
.menu__link {
    display: block;
    font-size: 1em;
    color: white;
}
.menu__item--second-lvl {
    font-size: .8em;
}
/* Burger menu button CSS */
.header__burger-menu {
    position:relative;
    height: 2.2rem;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 0;
    background: none;
}
/* Create burger button lines */
.header__burger-line,
.header__burger-menu::before,
.header__burger-menu::after {
    position: absolute;
    display: block;
    content: '';
    height: var(--line-width);
    background: var(--text);
    width: 100%;
    transition: all .3s ease;
}
/* Set up burger button lines position */
.header__burger-line {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
}
.header__burger-menu::before {
    inset-block-start: 0;
}
.header__burger-menu::after {
    inset-block-end: 0;
}
/* Burger button active state */
.header__burger-menu[area-expand="true"] .header__burger-line {
    transform: translateX(-100%);
    width: 200%;
}
.header__burger-menu[area-expand="true"]::before {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(45deg);
}
.header__burger-menu[area-expand="true"]::after {
    inset-block-end: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(-45deg);
}
/* Make lines visible on blue background */
.header__burger-menu[area-expand="true"] .header__burger-line,
.header__burger-menu[area-expand="true"]::before,
.header__burger-menu[area-expand="true"]::after {
    background-color: white;
}
/* Mobile view */
@media(max-width: 450px) {

}
/* Tablet view */
@media(max-width: 800px) {
    /* Menu style for touch screen devices */
    .navigation {
        position: fixed;    
        inset: 0 0 0 calc(100% - var(--menu-width));
        /* Hide menu when it's closed */
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        /* Center menu block inside navigation */
        display: flex;
        align-items: center;
    }
    /* Show navigation menu */
    .navigation[area-visible="true"] {
        transform: translateX(0);
    }
    .navigation,
    .menu__overlay {
        /* Add mutual var */
        --menu-width: 70%;
    }
    .menu__overlay {
        /* Opened menu overlay block position */
        inset: 0 var(--menu-width) 0 0;
    }
    .menu {
        /* Make sure the menu block always fits on the screen */
        height: 60vh;
        overflow-y: scroll;
        /* Avoid text touched the edge */
        padding-inline: .4em;
    }
    /* Highlight sub menu items in the mobile navigation */
    .menu__sub-menu {
        padding-inline-start: .4em;
    }
    /* Add space between menu items */
    .menu__link {
        margin-block-end: .5em;
    }
}
/* Desktop view */
@media(min-width: 1024px) {
    /* Hide burger menu for desktop devices */
    .header__burger-menu {
        display: none;
    }
    /* Overwrite menu CSS for DT */
    .menu {
        display: flex;
        gap: 1em;
        padding: .5em 1em   ;
    }
    .menu__link {
        padding: .3em .7em;
        border-radius: .4em;
        background-color: var(--primary-color);
    }
    .menu__link:hover {
        background-color: var(--accent);
    }
    /* Sub menu CSS */
    .menu__item--nested {
        position: relative;
    }
    .menu__sub-menu {
        position: absolute;
        inset-block-start: 100%;
        width: 100%;
        background-color: var(--primary-color);
        padding: .2em;
        /* Hide sub menu by default */
        visibility: hidden;
        pointer-events: none;
    }
    /* Show sub menu */
    .menu__item--nested:hover > .menu__sub-menu {
        visibility: visible;
        pointer-events: all;
    }
}