/* Hero banner */
.hero__banner {
    position: relative;
    /* Fix banner height */
    aspect-ratio: 16 / 9;
    overflow-y: hidden;
}
.hero__heading {
    position: absolute;
    inset-block-start: 4em;
    padding-inline: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}
.hero__image {
    width: 100%;
}
/* Technologies section */
.technologies__row--grid {
    padding-block: 1em;
    display: grid;
    grid-auto-rows: min-content;
    gap: 1em;
}
.technologies__cell {
    font-size: 1rem;
    color: white;
    display: block;
    padding: 1em 1em;
    transition: background-color .3s ease;
}
/* Add cards background colours */
.technologies__cell--html {
    background-color: var(--html-primary);
}
.technologies__cell--html:hover {
    background-color: var(--html-hover);
}
.technologies__cell--css {
    background-color: var(--css-primary);
}
.technologies__cell--css:hover {
    background-color: var(--css-hover);
}
.technologies__cell--js {
    background-color: var(--js-primary);
}
.technologies__cell--js:hover {
    background-color: var(--js-hover);
}
.technologies__cell--php {
    background-color: var(--php-primary);
}
.technologies__cell--php:hover {
    background-color: var(--php-hover);
}
.technologies__label {
    font-size: 2.5em;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    margin-block-end: .3em;
}
/* Special label decoration */
.technologies__label--html::before {
    content: '< ';
}
.technologies__label--html::after {
    content: ' />';
}
.technologies__label--css::before {
    content: '{ ';
}
.technologies__label--css::after {
    content: ' }';
}
.technologies__label--js::before {
    content: '( ';
}
.technologies__label--js::after {
    content: ' ) => {...}';
}
.technologies__label--php::before {
    content: '<?';
}
.technologies__label--php::after {
    content: ' ...; ?>';
}
/* Make description text readable */
.technologies__description--card {
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}