/* Link header and footer CSS */
@import 'header.css';
@import 'footer.css';
/* Add fonts */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url('../fonts/inter/Inter-Regular.ttf') format('ttf'),
        url('../fonts/inter/Inter-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MeowScript';
    src: url('../fonts/meow-script/MeowScript-Regular.woff2') format('woff2'),
        url('../fonts/meow-script/MeowScript-Regular.woff') format('woff'),
        url('../fonts/meow-script/MeowScript-Regular.ttf') format('ttf'),
        url('../fonts/meow-script/MeowScript-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}
/* CSS root variables */
:root {
    /* Website color scheme */
    --primary-color: #1E3A8A;
    --accent: #2563EB;
    --accent-warm: #FB923C;
    --background: #EFF6FF;
    --text: #374151;
    /* Status color */
    --success: #22C55E;
    --warning: #FBBF24;
    --error: #DC2626;
    /* Website decoration elements */
    --line-width: 3px;
}
/* Page wrapp */
.wrapper {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text);
}
/* Page template */
.template {
    display: grid;
    grid-template: 
    /* Set up basic layout header main and footer (rows) */
    auto 1fr auto / 
    /* Set sizes for each breakpoint (column) */
    [edge-start] minmax(15px, 1fr) 
    [content-start] minmax(40px, 100px) 
    [modal-start] minmax(100px, 200px) [center] 
    minmax(100px, 200px) [modal-end] 
    minmax(40px, 100px) [content-end] 
    minmax(15px, 1fr) [edge-end];
}
.template__subgrid {
    /* Extend each .template first child element into full width */
    grid-column: span 6;
    /* Create subgrid which inherit columns template */
    display: grid;
    grid-template-columns: subgrid;
    /* Fix vertical alignment inside main tag */
    grid-auto-rows: min-content;
}
/* Define container sizes */
.template__width-full {
    grid-column: edge-start / edge-end;
}
.template__width-content {
    grid-column: content-start / content-end;
}
.template__width-modal {
    grid-column: modal-start / modal-end;
}
/* Page informative message */
.message__item {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: .5em;
    border: var(--line-width) solid var(--text);
    border-radius: .3em;
    margin-block-end: .5em;
}
.message__item:first-child {
    margin-block-start: .5em;
}
/* Handle different message type styles */
.message__item--error {
    background-color: var(--error);
}
.message__item--succes {
    background-color: var(--success);
}
.message__item--warning {
    background-color: var(--warning);
}
.message__item--info {
    background-color: var(--accent);
}
/* Common used classes */
[class*='__overlay'] {
    position: fixed;
    /* backdrop-filter: blur(2px); */
    /* background: rgba(0, 0, 0, 0.2); */
}
[class*='__title'] {
    font-family: 'MeowScript';
    font-size: 3rem;
    line-height: 4rem;
    color: var(--text);
    text-align: center;
}
[class*='__description'] {
    font-family: 'Inter';
    font-size: 1.3rem;
    line-height: 1.8rem;
}
.frame {
    border: var(--line-width) solid var(--text);
    border-radius: .5rem;
}
/* Layout breakpoints */
@media(max-width: 450px) { /* Mobile view */

}
@media(max-width: 800px) { /* Tablet view */

}
@media (max-width: 1023px) { /* Large tablet view */

}
@media(min-width: 1024px) { /* Desktop view */

}