@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url('../fonts/inter/Inter-Regular.ttf') format('ttf'),
        url('../fonts/inter/Inter-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MeowScript';
    src: url('../fonts/meow-script/MeowScript-Regular.woff2') format('woff2'),
        url('../fonts/meow-script/MeowScript-Regular.woff') format('woff'),
        url('../fonts/meow-script/MeowScript-Regular.ttf') format('ttf'),
        url('../fonts/meow-script/MeowScript-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

/* CSS root */

:root {
    /* color scheme */
    --primary-color: #1E3A8A;
    --accent: #2563EB;
    --accent-warm: #FB923C;
    --background: #EFF6FF;
    --text: #374151;
    --success: #22C55E;
    --warning: #FBBF24;
    --error: #DC2626;




    --mobile-navigation-indent: 30%;

    --line-width: 3px;

    --sub-menu-arrow: 1rem;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;

    background-color: var(--background);
    color: var(--text);
}

/* Page template */

.template {
    display: grid;
    grid-template: 
    auto 1fr auto / 
    [edge-start] minmax(15px, 1fr) 
    [content-start] minmax(40px, 100px) 
    [modal-start] minmax(100px, 200px) [center] 
    minmax(100px, 200px) [modal-end] 
    minmax(40px, 100px) [content-end] 
    minmax(15px, 1fr) [edge-end];
}

.template>* {
    grid-column: span 6;
}

.template__subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
}

.template__width-full {
    grid-column: edge-start / edge-end;
}

.template__width-content {
    grid-column: content-start / content-end;
}

.template__width-modal {
    grid-column: modal-start / modal-end;
}

/* Header */

.header {
    position: sticky;
    z-index: 1000;
    inset-block-start: 0;
    background: linear-gradient(0deg, transparent, var(--background) 20%);
}

.header__content {
    position: relative;
    padding-block: 1rem;
}

.header__burger-menu {
    position: relative;
    height: 2.2rem;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 0;
    background: none;
}

.header__burger-line,
.header__burger-menu::before,
.header__burger-menu::after {
    position: absolute;
    display: block;
    content: '';
    height: var(--line-width);
    background: var(--text);
    width: 100%;
    transition: all .3s ease;
}

.header__burger-line {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
}

.header__burger-menu::before {
    inset-block-start: 0;
}

.header__burger-menu::after {
    inset-block-end: 0;
}

.header__burger-menu[area-expand="true"] .header__burger-line {
    transform: translateX(-100%);
    width: 200%;
    transition: transform width 1s ease-in-out;
}

.header__burger-menu[area-expand="true"]::before {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(45deg);
}

.header__burger-menu[area-expand="true"]::after {
    inset-block-end: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(-45deg);
}

.navigation {
    position: fixed;
    inset: 0 0 0 var(--mobile-navigation-indent);
    border-left: var(--line-width) solid var(--text);
    overflow-y: scroll;
    background: hsla(194, 96%, 28%, 0.507);
    backdrop-filter: blur(.6rem);
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.navigation[area-visible="true"] {
    transform: translateX(0);
}

.menu {
    position: relative;
    height: 70vh;
    width: 100%;
    padding-inline: .5rem 1.2rem;
    overflow-y: scroll;
}

.menu__overlay {
    position: fixed;
    inset: 0 calc(100% - var(--mobile-navigation-indent)) 0 0;
}

.menu__item {
    margin-block: 1rem;
}

.menu__item:last-child {
    margin-block-end: 0;
}

.menu__item--first-lvl {
    font-size: 1.5rem;
}

.menu__item--nested {
    position: relative;
    padding-inline-end: calc(var(--sub-menu-arrow) * 1.5);
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.menu__item--nested[area-expand="true"] {
    border-right: var(--line-width) solid var(--text);
    grid-template-rows: auto 1fr;
}

.menu__item--nested::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    inset-block-start: calc(50% - calc(var(--sub-menu-arrow) / 2));
    inset-inline-end: calc(var(--line-width) + 2px);
    width: var(--sub-menu-arrow);
    aspect-ratio: 1 / 1;
    border: var(--line-width) solid var(--text);
    transform: rotate(45deg);
    transition: transform .5s ease;
}

.menu__item--nested[area-expand='true']::after {
    transform: rotate(125deg);
    background-color: var(--accent);
    transition: all .5s ease;
}

.menu__sub-menu {
    overflow: hidden;
}

.menu__item--second-lvl {
    font-size: 1.3rem;
}

.menu__link {
    font-family: 'Inter';
    color: white;
    text-shadow: 0 0 8px black;
    line-height: 1.5em;
}

.page__title-text {
    text-align: center;
    font-size: 2rem;
    font-family: 'Inter';
}

/* Page message */

.message__item:first-child {
    margin-block-start: .5em;
}

.message__item {
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: .5em;
    border: var(--line-width) solid var(--text);
    border-radius: .3em;
    margin-block-end: .5em;
}

.message__item--error {
    background-color: var(--error);
}

.message__item--succes {
    background-color: var(--success);
}

.message__item--warning {
    background-color: var(--warning);
}

.message__item--info {
    background-color: var(--accent);
}

/* Hero banner */

.hero__column:first-child {
    margin-block-end: 1rem;
}

.hero__picture {
    display: block;
    padding: 1rem;
    border: var(--line-width) solid var(--text);
    border-radius: .5rem;
}

.hero__picture img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: .5em .5em .5em var(--accent-warm);
}

.hero__title,
.hero__text,
.hero__link {
    text-align: center;
}

.hero__title {
    font-family: 'MeowScript';
    font-size: 3rem;
    color: var(--accent-warm);
}

.hero__text {
    font-family: 'Inter';
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.hero__link {
    font-family: 'Inter';
    font-size: 1.5rem;
    color: var(--primary-color);
}

.link {
    display: block;
    width: fit-content;
    padding: .2em;
    margin: 0 auto;
    color: var(--primary-color);
}

.link::before {
    content: '< ';
}
.link::after {
    content: ' />';
}

.link:active {
    color: var(--accent);
}

/* Forms */

.form {
    max-width: 350px;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-family: 'Inter';
}

.form__row {
    margin-block-end: .7em;
}

.form__label {
    display: block;
    padding-block-end: .3em;
    text-align: center;
}

.form__input {
    box-sizing: border-box;
    width: 100%;
    padding: .2em .5em;
    border: var(--line-width) solid var(--text);
    border-radius: .3em;
    background-color: white;
    font-size: 1em;
    font-family: 'Inter';
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
    border: var(--line-width) solid var(--primary-color);
}

.button {
    font-size: 1.3rem;
    padding: .3em 1em;
}

.button--reset {
    background: none;
    border: none;
    text-decoration: underline;
    font-style: italic;
}

.button--submit {
    border: var(--line-width) solid var(--text);
    border-radius: .3em;
    background-color: var(--primary-color);
    color: var(--background);
    font-weight: bold;
}

/* Footer */

.footer {
    background: var(--background);
}

.footer__content {
    padding-block: 1.2rem .5rem;
}

.footer__row {
    margin-block-end: .5rem;
}

.footer__row:last-child {
    margin-block-end: 0;
}

.footer__column {
    margin: 0 auto;
}

.footer__item {
    /* width: fit-content; */
    text-align: center;
}

.footer__text,
.footer_link {
    font-size: 1.1em;
}

.footer_link {
    color: var(--accent);
}

.copyright__text {
    text-align: center;
}

/* Tablet */

@media (min-width: 768px) {}


/* Desktop */


@media(min-width: 1024px) {

    /* Page template */

    .template {
        display: grid;
        grid-template: 
        auto 1fr auto / 
        [edge-start] minmax(15px, 1fr) 
        [content-start] minmax(80px, 200px) 
        [modal-start] minmax(250px, 400px) [center] 
        minmax(250px, 400px) [modal-end] 
        minmax(80px, 200px) [content-end] 
        minmax(15px, 1fr) [edge-end];
    }

}