/* Define default Form text size */
.form {
    font-size: 1rem;
}
.form__row {
    /* Gap betwen form rows */
    margin-block-end: 1em;
    /* Centered buttons and labels */
    text-align: center;
}
.form__label {
    font-size: 2em;
    line-height: 1.5em;
    color: var(--accent);
}
/* Creates input shape */
.input-shape {
    padding: .3em .5em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}
.form__input {
    font-size: 1.2em;
    color: var(--primary-color);
    width: 100%;
    padding: .3em .5em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: white;
}
.form__input:active,
.form__input:focus {
    box-shadow: 0 0 10px var(--accent);
}