/* 
File sructure:

CSS root
Set up page template
Header

*/

/* CSS root */

:root {
    /* color scheme */
    --primary-color: #1E3A8A;
    --accent: #2563EB;
    --accent-warm: #FB923C;
    --background: #EFF6FF;
    --text: #374151;
    --success: #22C55E;
    --warning: #FBBF24;
    --error: #DC2626;
}

/* Set up page template */

.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.template {
    display: grid;
    grid-template: 
    auto 1fr auto / 
    [edge-start] minmax(15px, 1fr) 
    [content-start] minmax(80px, 200px) 
    [modal-start] minmax(250px, 400px) [center] 
    minmax(250px, 400px) [modal-end] 
    minmax(80px, 200px) [content-end] 
    minmax(15px, 1fr) [edge-end];
}

.template > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: edge-start / edge-end;
}

.template__inherit {
    display: grid;
}

.template--full {
    grid-column: edge-start / edge-end;
}

.template--content {
    grid-column: content-start / content-end;
}

.template--modal {
    grid-column: modal-start / modal-end;
}

/* Header */

.header {
    position: sticky;
    top: 0;
}

.header__box {
    padding-block: .5rem;
}

.logo {
    font-size: 2rem;
}

.logo,
.account__link {
    font-family: 'Meow Script';
    padding: .5em;
}

.logo:hover {
    border-radius: 1em;
    box-shadow: 0px 0px .1em black;
}

.logo:hover > .logo__link:hover {
    text-decoration: underline;
}

.menu {
    font-size: 1.2rem;
    gap: .3em;
}

.menu__link:hover,
.account__link:hover {
    text-decoration: underline;
}

.account__link {
    font-size: 1.5rem;
}