/* 
File sructure:

CSS root

Page template

Header

Forms

Tablet



Desktop


*/

@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter-Regular.woff') format('woff'),
        url('../fonts/inter/Inter-Regular.ttf') format('ttf'),
        url('../fonts/inter/Inter-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MeowScript';
    src: url('../fonts/meow-script/MeowScript-Regular.woff2') format('woff2'),
        url('../fonts/meow-script/MeowScript-Regular.woff') format('woff'),
        url('../fonts/meow-script/MeowScript-Regular.ttf') format('ttf'),
        url('../fonts/meow-script/MeowScript-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

/* CSS root */

:root {
    /* color scheme */
    --primary-color: #1E3A8A;
    --accent: #2563EB;
    --accent-warm: #FB923C;
    --background: #EFF6FF;
    --text: #374151;
    --success: #22C55E;
    --warning: #FBBF24;
    --error: #DC2626;

    /* form var */
    --input-padding: calc(var(--font-size) / 2);
    --border: 0.2rem;
    --font-size: 1rem;
    --label-height: calc(var(--font-size) + calc(var(--border) * 2));
    --border-color: var(--primary-color);
    --input-background: white;
    --input-width: calc(var(--font-size) * 20);

    --mobile-navigation-indent: 30%;

    --line-width: 3px;

    --sub-menu-arrow: 1rem;
}

.wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;

    background-color: var(--background);
    color: var(--text);
}

/* Page template */

.template {
    display: grid;
    grid-template: 
    auto 1fr auto / 
    [edge-start] minmax(15px, 1fr) 
    [content-start] minmax(40px, 100px) 
    [modal-start] minmax(100px, 200px) [center] 
    minmax(100px, 200px) [modal-end] 
    minmax(40px, 100px) [content-end] 
    minmax(15px, 1fr) [edge-end];
}

.template>* {
    grid-column: span 6;
}

.template__subgrid {
    display: grid;
    grid-template-columns: subgrid;
    grid-auto-rows: min-content;
}

.template__width-full {
    grid-column: edge-start / edge-end;
}

.template__width-content {
    grid-column: content-start / content-end;
}

.template__width-modal {
    grid-column: modal-start / modal-end;
}

/* Header */

.header {
    position: sticky;
    z-index: 1000;
    inset-block-start: 0;
    background: linear-gradient(0deg, transparent, var(--background) 20%);
}

.header__content {
    position: relative;
    padding-block: 1rem;
}

.header__burger-menu {
    position: relative;
    height: 2.2rem;
    aspect-ratio: 1 / 1;
    border: none;
    padding: 0;
    background: none;
}

.header__burger-line,
.header__burger-menu::before,
.header__burger-menu::after {
    position: absolute;
    display: block;
    content: '';
    height: var(--line-width);
    background: var(--text);
    width: 100%;
    transition: all .3s ease;
}

.header__burger-line {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
}

.header__burger-menu::before {
    inset-block-start: 0;
}

.header__burger-menu::after {
    inset-block-end: 0;
}

.header__burger-menu[area-expand="true"] .header__burger-line {
    transform: translateX(-100%);
    width: 200%;
    transition: transform width 1s ease-in-out;
}

.header__burger-menu[area-expand="true"]::before {
    inset-block-start: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(45deg);
}

.header__burger-menu[area-expand="true"]::after {
    inset-block-end: calc(50% - calc(var(--line-width) / 2));
    transform: rotate(-45deg);
}

.navigation {
    position: fixed;
    inset: 0 0 0 var(--mobile-navigation-indent);
    border-left: var(--line-width) solid var(--text);
    overflow-y: scroll;
    background: hsla(0, 0%, 100%, 0.1);
    backdrop-filter: blur(.1rem);
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.navigation[area-visible="true"] {
    transform: translateX(0);
}

.menu {
    position: relative;
    height: 70vh;
    width: 100%;
    padding-inline: .5rem 1.2rem;
    overflow-y: scroll;
}

.menu__overlay {
    position: fixed;
    inset: 0 calc(100% - var(--mobile-navigation-indent)) 0 0;
}

.menu__item {
    margin-block: 1rem;
}

.menu__item:last-child {
    margin-block-end: 0;
}

.menu__item--first-lvl {
    font-size: 1.5rem;
}

.menu__item--nested {
    position: relative;
    padding-inline-end: calc(var(--sub-menu-arrow) * 1.5);
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

.menu__item--nested[area-expand="true"] {
    border-right: var(--line-width) solid var(--text);
    grid-template-rows: auto 1fr;
}

.menu__item--nested::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    inset-block-start: calc(50% - calc(var(--sub-menu-arrow) / 2));
    inset-inline-end: calc(var(--line-width) + 2px);
    width: var(--sub-menu-arrow);
    aspect-ratio: 1 / 1;
    border: var(--line-width) solid var(--text);
    transform: rotate(45deg);
    transition: transform .5s ease;
}

.menu__item--nested[area-expand='true']::after {
    transform: rotate(125deg);
    background-color: var(--accent);
    transition: all .5s ease;
}

.menu__sub-menu {
    overflow: hidden;
}

.menu__item--second-lvl {
    font-size: 1.3rem;
}

.menu__link {
    color: var(--text);
    line-height: 1.5em;
}

/* Forms */

.form {
    padding-block: calc(var(--font-size) * 2);
    display: inline-block;
}

.form__row {
    position: relative;
    z-index: 0;
    margin-block-end: var(--font-size);
}

.form__row--action {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--font-size);
}

.form__label {
    position: absolute;
    z-index: 0;
    inset-block-start: calc(50% - calc(var(--label-height) / 2));
    transition: all 0.3s ease;
    inset-inline-start: var(--font-size);
    padding-inline: calc(var(--font-size) / 2);
    border: var(--border) solid transparent;
    cursor: text;
}

.form__label,
.form__input {
    font-size: var(--font-size);
    background: var(--input-background);
    border-radius: var(--font-size);
}

.form__input {
    width: var(--input-width);
    padding: var(--input-padding) var(--font-size);
    border: var(--border) solid var(--border-color);
}

.form__input::placeholder {
    color: transparent;
}

.form__input:focus::placeholder {
    color: black;
    transition: color 1s ease;
}

.form__row:focus-within .form__label,
.form__row--filled .form__label {
    inset-block-start: calc(-50% + calc(var(--label-height) / 3.5));
    border: var(--border) solid var(--border-color);
}

.button {
    font-size: var(--font-size);
    padding: calc(var(--font-size) / 4) var(--font-size);
    cursor: pointer;
}

.button__submit {
    border: var(--border) solid var(--border-color);
    border-radius: var(--font-size);
}

.button__reset {
    border: none;
    background: transparent;
}

.button__reset:hover {
    text-decoration: underline;
}

/* Footer */

.footer {
    background: var(--background);
}

.footer__content {
    padding-block: 1.2rem .5rem;
}

.footer__row {
    margin-block-end: .5rem;
}

.footer__row:last-child {
    margin-block-end: 0;
}

.footer__column {
    margin: 0 auto;
}

.footer__item {
    /* width: fit-content; */
    text-align: center;
}

.footer__text,
.footer_link {
    font-size: 1.1em;
}

.footer_link {
    color: var(--accent);
}

.copyright__text {
    text-align: center;
}

/* Tablet */

@media (min-width: 768px) {}


/* Desktop */


@media(min-width: 1024px) {

    /* Page template */

    .template {
        display: grid;
        grid-template: 
        auto 1fr auto / 
        [edge-start] minmax(15px, 1fr) 
        [content-start] minmax(80px, 200px) 
        [modal-start] minmax(250px, 400px) [center] 
        minmax(250px, 400px) [modal-end] 
        minmax(80px, 200px) [content-end] 
        minmax(15px, 1fr) [edge-end];
    }

    /* Header */

    .menu-parent {
        position: relative;
    }

    .menu-parent:hover>.menu-child {
        visibility: visible;
        pointer-events: all;
    }

    .menu-child {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
    }

    .first-child {
        inset-block-start: 100%;
        inset-inline-start: 0;
    }

    /* Main */

    .message__item {
        font-size: var(--font-size);
        border: var(--border) solid var(--border-color);
        border-radius: var(--font-size);
        padding: calc(var(--font-size) / 4) var(--font-size);
        margin-block-end: var(--font-size);
    }

    .message__item:last-child {
        margin-block-end: 0;
    }

    .page__title-text {
        text-align: center;
        font-size: 2rem;
        font-family: 'Inter';
    }

}